<div class="mb-auto" th:fragment="header">
    <h2 class="float-md-start mb-0 "><a class="nav-link" href="/">Slaveyard</a></h2>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <h5><a class="nav-link" href="/classes">Classes</a></h5>
        <h5><a class="nav-link" href="/lessons">Lessons</a></h5>
        <h5><a class="nav-link" href="/subjects">Subjects</a></h5>
        <h5><a class="nav-link" href="/teachers">Teachers</a></h5>
        <h5><a class="nav-link" href="/students">Students</a></h5>
    </nav>
</div>

